@using AgroindustryManagementWeb.Models
@model Worker

@{
    ViewData["Title"] = $"Деталі Працівника ID: {Model.Id}";
}

<h1>🔍 Деталі Працівника</h1>

<hr />
<div>

    <h2>Основна Інформація</h2>
    <dl class="row">

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Id)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.FirstName) 
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Age)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.HourlyRate)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.HourlyRate)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.HoursWorked)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.HoursWorked)
        </dd>
        <dt class="col-sm-3">
            Бонус
        </dt>
        <dd class="col-sm-9">
			@ViewBag.Bonus
        </dd>
    </dl>

    <hr />

    <h2>🧑‍🌾 Призначенні Завдання</h2>

    <div class="row">

       

        @* Список Завдань *@
        <div class="col-md-4 mb-4">
            <h4>Завдання (@Model.Tasks.Count)</h4>
            @if (Model.Tasks.Any())
            {
                <ul class="list-group">
                    @foreach (var task in Model.Tasks)
                    {
                        <li class="list-group-item">ID: @task.Id | Опис: @(task.Description ?? "Немає опису")</li>
                    }
                </ul>
            }
            else
            {
                <p class="text-muted">Завдання не призначені.</p>
            }
        </div>
    </div>

</div>

<div class="mt-4">
    <a asp-action="Edit" asp-route-fieldId="@Model.Id" class="btn btn-warning">✏️ Редагувати</a>
    <a asp-action="Index" class="btn btn-secondary">Повернутися до Списку</a>
</div>